
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*body{
  margin:0;
  padding: 0;
}


.header{
  padding-top: 1rem;
}

.header img{
  width:100%;
  height:550px;
}

.header p{
  font-size: 30px !important;
  padding-top: 3rem;
}

a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
 
}


footer {
    background-image: url('./ftbg.jpg');
    background-size: cover;
    background-position: center;
  }
  
  footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  footer,
footer a,
footer p,
header,

footer h4,
footer li,
footer ul {
  color: white !important;
  font-weight: 600;
}


.footer {
    background-color: #004658;
    background-image: url('./ftbg.jpg');
    background-size: cover;
    background-position: center;
    
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}
.pg-footer{
    height: 200px !important ;
}

@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}



@media screen and (max-width: 768px) {
  .header .large-text {
      font-size: 12px !important;
  }

  .header .small-text {
      font-size: 8px !important;
      left: 40%,  !important;
  }

  .header .horizontal-line {
      width: 70% !important;
      right: 30%,  !important; 
  }
  .header img{
    width:200px;
    height:200px;
  }
}

.client-container {
  
  margin-bottom: 20px; /* Add margin or adjust as needed */
}

.client-section {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  display: flex;
}

.client-logo {
  flex: 1;
  margin-right: 50px; /* Adjust the margin between images as needed */
}

.client-logo:last-child {
  margin-right: 0; /* No margin for the last image */
}

.client-logo img {
  width: 100%;
  height:50px ;
}
.container h1{
	font-size: 60px !important;
	color: #000;
}

.container hr{
	width: 20%;
	height: 5px;
	border: none;
	background: #000;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.serviceshr{
  width: 35%;
	height: 3px;
	border: none;
	background: darkslategray;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.clients{
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.banner img{
  width:100%;
  height:35vh
}
.adjuts{
  height:70%
}

.custom-date-class {
  color: #000000; 
  font-weight: 900  !important; 
  font-size: 30px!important;
  
}
.vertical-timeline::before {
  background-color: lightblue !important;
}

.icon {
  display: inline-flex;
  align-items: center;
  margin-right: 5px; /* Adjust the margin as needed */
  font-weight: 600!important;
  color: green !important;
}
.productsection img{
  width:400px;
  height:300px;
  transition: transform 0.2s ease-in-out;
  margin-top: 4rem;
 
}

.productsection:hover img {
  transform: scale(1.1);
  will-change: transform; 
}
/* .mainservices{
    background-image: url('./bgimage.jpg');
    
} */

.right_conatct_social_icon{
     background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
}
.contact_us{
    background-color: #f1f1f1;
    /* padding: 120px 0px; */
    padding-top: 1rem;
}

.contact_inner{
    background-color: #fff;
    position: relative;
    box-shadow: 20px 22px 44px #cccc;
    border-radius: 25px;
}
.contact_field{
    padding: 60px 340px 90px 100px;
}
.right_conatct_social_icon{
    height: 100%;
}

.contact_field h3{
   color: #000;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px
}
.contact_field p{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.contact_field .form-control{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.contact_field .form-control:focus{
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #1325e8;
}
.contact_field .form-control::placeholder{
    font-size: 13px;
    letter-spacing: 1px;
}

.contact_info_sec {
    position: absolute;
    background-color: #2d2d2d;
    right: 1px;
    top: 18%;
    height: 340px;
    width: 340px;
    padding: 40px;
    border-radius: 25px 0 0 25px;
}
.contact_info_sec h4{
    letter-spacing: 1px;
    padding-bottom: 15px;
    color:whitesmoke
}
.contact_info_sec span{
   
    
    color:whitesmoke
}

.info_single{
    margin: 30px 0px;
}
.info_single i{
    margin-right: 15px;
}
.info_single span{
    font-size: 14px;
    letter-spacing: 1px;
}

button.contact_form_submit {
    background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    margin-top: 25px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}
.socil_item_inner li{
    list-style: none;
}
.socil_item_inner li a{
    color: #fff !important;
    margin: 0px 15px;
    font-size: 14px;
}
.socil_item_inner{
    padding-bottom: 10px;
}

.map_sec{
    padding: 50px 0px;
}
.map_inner h4, .map_inner p{
    color: #000;
    text-align: center
}
.map_inner p{
    font-size: 13px;
}
.map_bind{
   margin-top: 50px;
    border-radius: 30px;
    overflow: hidden;
}


.service-grid {
    background: #fcfcfc;
}
    .service-title h4 {
    position: relative;
    display: inline-block;
}
.service-icon {
    position: relative;
}
.service-title p {
    padding: 0 190px;
    margin-bottom: 10px;
}
.about-info-text h2 {
    margin-bottom: 23px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: .9;
}
.about-info-text p {
    padding: 0 100px;
    font-size: 18px;
    margin-bottom: 26px;
      position: relative;
}
.about-content p {
    margin-bottom: 0;
}
.about-info-text a {
    margin-bottom: 20px;
      position: relative;
}
.service-icon i {
    font-size: 40px;
    color: #e8bc00;
    margin-bottom: 20px;
    display: inline-block;
}
/* .service-wrap {
    border: 1px solid #e6e6e6;
    padding: 50px 30px;
      position: relative;
} */

.service-wrap {
    border: 1px solid lightgrey; /* Updated border color to a vibrant blue */
    border-radius: 10px; /* Rounded corners for a modern look */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
    padding: 50px 30px; /* Adjusted padding for a more balanced appearance */
    position: relative;
    background-color: #fff; /* Added a white background for contrast */
}

.service-wrap p{
      position: relative;
}

.service-wrap:hover {
    background-image: url('./bgimagetwo.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
}

.service-wrap:hover:before {
    background: rgba(0, 0, 0, 0.2901960784313726);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    content: "";
    top: 0;
    opacity: 1;
}

.service-wrap:hover h4,.service-wrap:hover p{
    color: #fff !important;
}
.service-wrap h4 {
    font-weight: 600;
    color: #1e2331 !important;
    margin-bottom: 17px;
    font-size: 18px;
    text-transform: capitalize;
      position: relative;
}
.service-wrap a {
    font-size: 14px;
    font-weight: 600;
      position: relative;

}

.content{
    height:100vh
}
.text-content{
    position:absolute;
    top:50%;
    left:50%;
    padding: 5px 15px;
    transform: translate(-50% , -50%);
    color: white;
    background-color: grey;
    border-radius: 20px;
    font-size: 50px;
}


.cursor {
    pointer-events: none;
    position: fixed;
    z-index: 1000;
  }
  
  .cursor__ball {
    mix-blend-mode: difference;
  }
  
  .cursor__ball circle {
    fill: wheat;
  }
  
  .cursor__ball--big {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease;
  }
  
  .cursor__ball--small {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.1s ease;
  }
  
  






